body {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("img1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1710px;
}


h1 {
	line-height: 60px; 
    color: white;
    font: helvetica;
    text-align: center;
}

h1.lettersize::first-letter{
    font-size: 50px;
}

h2 {
	line-height: 60px; 
    color: white;
    font: helvetica;
    text-align: center;
    font-size: 32px;
}

h3 {
	line-height: 60px; 
    color: white;
    font: helvetica;
    text-align: center;
}

p {
    color: white;
    font: helvetica;
    text-align: left;
    font-size: 20px;
    background-color: rgba(128, 0, 0, 0.1);
    line-height: 30px; 
}

ol {
	color: white;
    font: sans-serif;
    font-size: 20px;
    line-height: 40px; 
   

}
.roster{
    margin: 550px;
    background-color: rgba(128, 0, 0, 0.1);

}

.committee{
    margin: 550px;
    background-color: rgba(128, 0, 0, 0.1);

}

ul {
	color: white;
    font: sans-serif;
    font-size: 20px;
    line-height: 40px; 
}

img {
	display: block;
    border-radius: 60%;
    margin: auto;
}